.dark {
    --main-bg-color:  #0a0f14; 

    --bg-color: #1e1e1e; 
    --bg-hover-color: #3a3a5c; 
    --banner-bg-color:  #262b32; 
  
    --border-header-color: #444; 
  
    // text
    --info-news-color: #8b99a8;
    --text-color:  #d4d7dd; 
    --secondary-text-color: #7592d1; 

  }