:root {
  --main-bg-color: #ffffff;

  --bg-color: #f2f4f5;
  --bg-hover-color: #e7e7ff;
  --banner-bg-color: #c9c9c9;

  --border-header-color: gray;

  // text
  --info-news-color: #6c7072;
  --text-color: #000000;
  --secondary-text-color: #6b4eff;
}


