.wrapper {
  margin-bottom: 0.625rem;
  text-align: right;
}
.input {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f2f4f5;
  width: 50%;
  border-radius: 0.625rem;
  font-size: 16px;
}
