.wrapper,
.wrapperMobile {
  margin-bottom: 0.625rem;
}
.wrapper {
  text-align: right;
}
.wrapperMobile {
  text-align: center;
}
.input,
.inputModile {
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f2f4f5;
  border-radius: 0.625rem;
  font-size: 16px;
}

.input {
  width: 50%;
}
.inputModile {
  width: 100%;
}
