.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.625rem;
  gap: 0.625rem;
  overflow-x: auto;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1875rem;
  flex-wrap: wrap;
}
.button,
.arrow {
  padding: 0.5rem;
  border: none;
  color: var(--text-color);
  background-color: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.button:disabled,
.arrow:disabled {
  cursor: default;
}

@media (max-width: 600px) {
  .pagination {
    gap: 0.3125rem;
  }
  .button,
  .arrow {
    font-size: 0.75rem;
    padding: 0.4rem;
  }
  .list {
    gap: 0;
  }
}
