.news {
  margin-top: 20px;
}
.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  min-height: 100vh;
}
.link {
  color: var(--info-news-color);
  &:hover {
    color: var(--secondary-text-color);
  }
}
