.wrapper {
  text-align: center;
}
.error {
  padding: 1.25rem;
  color: red;
}
.button {
  padding: 10px;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  background-color: #f2f4f5;
}
.button:hover {
  background-color: #e7e7ff;
}
