
.wrapper {
  text-align: center;
}
.error {
  padding: 1.25rem;
  color: red;
}
.button {
  padding: .625rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  background-color: var(--bg-color);
}
.button:hover {
  background-color: var(--bg-hover-color);
}
